.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Portugol Runtime
src/runtime/bin/
src/runtime/obj/
src/runtime/dist/

# Recursos
src/public/recursos/
src/public/recursos.temp/
src/public/Portugol-Studio.zip
