<!DOCTYPE html>
<html>
  <head>
    <title>Portugol</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <meta http-equiv="refresh" content="0; url=/ide" />
  </body>
</html>
