<!DOCTYPE html>
<!--[if lte IE 9]><html class="no-js is-ie"><![endif]-->
<!--[if gt IE 8]><!-->
<html class=no-js>
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta name="description" content="BlackTie Free Bootstrap Theme">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="shortcut icon" href="https://raw.githubusercontent.com/UNIVALI-LITE/Portugol-Studio/master/src/br/univali/ps/ui/icones/Dark/grande/light-bulb.png">
	<link rel="icon" href="https://raw.githubusercontent.com/UNIVALI-LITE/Portugol-Studio/master/src/br/univali/ps/ui/icones/Dark/grande/light-bulb.png">
	<title>Portugol Webstudio – IDE do Portugol em seu navegador</title>
	<meta name="description" content="IDE de código aberta para códigos em Portugol, baseado no Portugol Studio para entregar uma experiência completa.">
	<link rel=stylesheet href="/assets/landing/css/main.css">
	<!--[if lte IE 8]>
	<link rel=stylesheet href="/assets/landing/css/ie.css">
	<![endif]-->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="/assets/landing/js/vendor/modernizr.js"></script>
	<script src="/assets/landing/js/vendor/respond.min.js"></script>
</head>
<style>
	.center-block {
		float: none !important
	}

	.btn-flat {
		color: #fff;
		background: none;
	}
</style>

<body>
	<div class="level level-hero hero-home has-hint">


		<div class="hero-overlay visible-lg"></div>

		<div class="container full-height">
			<div class=v-align-parent>
				<div class="v-center">
					<div class="row">
						<div class="col-md-6 center-block">
							<center>
								<img src="https://univali-lite.github.io/Portugol-Studio/img/logo.svg" width="100px" style="margin: 0; ">
								<h2 class="mb-10 heading">Portugol<p>Webstudio</p></h2>
								<div class="subheading mb-20">IDE de código aberta para programar em Portugol direto de seu navegador, baseado no Portugol Studio para entregar uma experiência completa.</div>
							</center>
						</div>
					</div>
					<div class="row">
						<center>
							<div class="col-md-3 col-md-offset-3 col-xs-12">
								<a class="btn btn-prepend external" href="/ide" style="margin-top: 5px;">
							<i class="prepended portugol-icon"></i>Começar a editar
							</a>
							</div>
							<div class="col-md-3 col-xs-12">
								<a class="btn btn-flat external" href="http://bit.ly/2vwEcBc" target="_blank" style="background: none">
							Baixe o Portugol Studio
						</a>
							</div>
						</center>
					</div>
				</div>
			</div>

			<div class=hint-arrow></div>
		</div>
	</div>
	<div class=level>

		<div class="container mb-100 xs-mb-40">
			<div class=row>
				<div class="col-sm-5 col-md-4 col-md-offset-2 col-sm-offset-1">
					<h1 class="mb-10 xs-mb-10 heading color-dark heading-bordered">Sobre</h1>
				</div>
				<div class="col-sm-5 col-sm-offset-1">
					<h2 class="w-300 color-dark mb-10 xs-mb-10">Desenhado para ser acessível</h2>
					<p class="xs-mw">Agora você pode programar em qualquer lugar
				</div>
			</div>
		</div>




		<div class=container>
			<div class="row mb-90 xs-mb-0">

				<div class="col-sm-1 col-sm-offset-2">
					<i class="fa fa-github fa-3x" aria-hidden="true"></i>
				</div>
				<div class="col-sm-3">
					<h3 class="mb-15">Código-Aberto</h3>
					<p class="smaller xs-mb-40 xs-mw">Nos ajude a expandir e melhorar cada vez mais a plataforma. <strong><a href="https://github.com/dgadelha/Portugol-Webstudio">Acesse o repositório no Github!</a></strong>
				</div>

				<div class="col-sm-1">
					<i class="fa fa-graduation-cap fa-3x" aria-hidden="true"></i>

				</div>
				<div class="col-sm-3">
					<h3 class="mb-15">Feito para alunos</h3>
					<p class="smaller xs-mb-40 xs-mw">O Webstudio foi construído para ser o mais próximo do Portugol Studio, a fim de contemplar todos os usuários.
				</div>

			</div>

			<div class=row>
				<div class="col-md-6 center-block">
					<h3 class="mb-15">História</h3>
					<p class="smaller xs-mb-40 xs-mw" align="justify">
						O Portugol Webstudio nasceu como uma adaptação do Portugol Studio, e a necessidade de torná-lo acessível em qualquer lugar. Como várias línguas de programação já possuem compiladores para navegadores, porquê não fazer um para o Portugol?<br> Foi
						então que <a href="https://github.com/guiscaranse">@guiscaranse</a> e <a href="https://github.com/dgadelha">@dgadelha</a> junto com outros colaboradores construiram este projeto com o auxílio e poder do NodeJS.
				</div>

			</div>
		</div>
	</div>

	<div class="footer text-center">
		<p class="fmenu">
			<a href="https://github.com/dgadelha/Portugol-Webstudio">GITHUB</a> | <a href="https://github.com/dgadelha/Portugol-Webstudio/blob/master/LICENSE">LICENÇA</a>
		</p>

	</div>


	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="/assets/landing/js/vendor/jquery-1.11.1.min.js"><\/script>')
	</script>

	<script src="/assets/landing/js/bootstrap.min.js"></script>
	<script src="/assets/landing/js/dropdown.js"></script>
	<script src="/assets/landing/js/main.js"></script>
	<!-- //-end- concat_js -->




</body>

</html>
