.dialog-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: grab;

  &.cdk-drag-dragging {
    cursor: grabbing;
  }

  h2 {
    font-size: var(--pws-text-md);
  }
}

.renderer-content {
  display: flex;
  justify-content: center;
}
