.kbd {
  pointer-events: none;
  display: inline-flex;
  height: 1.25rem;
  width: fit-content;
  min-width: 1.25rem;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border-radius: var(--radius-sm);
  background-color: var(--muted);
  padding-inline: 0.25rem;
  font-family: var(--font-sans);
  font-size: var(--text-xs);
  line-height: var(--text-xs--line-height);
  font-weight: 500;
  color: var(--muted-foreground);
  user-select: none;
}
