@import "variables";
@import "utils";

:host {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

#preload {
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}

::ng-deep mat-tab-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;

  border-radius: 10px;
  overflow: hidden;

  .mat-mdc-tab {
    --mdc-secondary-navigation-tab-container-height: 40px;
    --mat-tab-header-active-label-text-color: $tab-active-color;
    --mat-tab-header-active-focus-label-text-color: $tab-active-color;
    --mat-tab-header-active-hover-label-text-color: $tab-active-color;
    --mat-tab-header-active-hover-indicator-color: $tab-active-color;

    position: relative;
    background-color: $tab-bg;
    color: $tab-color;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 40px;
    margin-right: 1px;
    text-decoration: none;
    transition: all 0.2s ease;
    opacity: 1;
    justify-content: flex-start;
    min-width: 0;
    font-family: $font;
    user-select: none;

    .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
      border-radius: 0;
    }

    &:hover .mdc-tab__ripple::before {
      opacity: 0;
    }

    &.mat-mdc-tab-disabled {
      opacity: 1;
      pointer-events: auto;
    }

    .mdc-tab-indicator {
      display: none;
    }

    .mdc-tab__text-label > span {
      display: inline-flex;
    }

    &:last-child {
      padding: 0 !important;
      color: #fff;

      button {
        border-radius: 0;
      }
    }

    &:not(#mat-tab-label-0-0) {
      padding-right: 0;

      &:not(.mdc-tab--active) {
        padding-right: 16px;

        .tab-actions {
          display: none;
        }
      }

      .add-button {
        --mdc-icon-button-state-layer-size: 40px;
        padding: 8px 0;
      }

      &.mat-mdc-tab-disabled {
        .mdc-tab__content, .mat-mdc-tab-ripple, .mdc-tab__ripple::before {
          pointer-events: all;
        }
      }

      button:not(.add-button) {
        border-radius: 0;
        display: inline-block;
        margin-left: 10px;
        padding: 0;

        $size: 30px;
        width: $size;
        height: $size;
        line-height: $size;

        .mat-icon {
          $isize: $size - 10px;
          width: $isize;
          height: $isize;
          font-size: $isize;
          line-height: $isize;
        }
      }
    }

    &.mdc-tab--active,
    &:focus:not(.mat-mdc-tab-disabled) {
      background-color: $tab-active-bg !important;
      color: $tab-active-color !important;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background-color: $primary;
      }
    }

    .tab-icon svg,
    .tab-icon img,
    .tab-add-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1rem;
      margin-right: 0.5rem;
      fill: $foreground-300;
    }

    .tab-text {
      flex-grow: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: normal;
    }
  }

  .mat-mdc-tab-body-wrapper {
    flex-grow: 1;

    mat-tab-body {
      background-color: $background-200;
      color: $foreground-200;
      flex-grow: 1;
      overflow: hidden;
    }
  }
}
