<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Portugol Webstudio</title>
  <link rel="shortcut icon" href="https://raw.githubusercontent.com/UNIVALI-LITE/Portugol-Studio/master/src/br/univali/ps/ui/icones/Dark/grande/light-bulb.png">
  <link rel="icon" href="https://raw.githubusercontent.com/UNIVALI-LITE/Portugol-Studio/master/src/br/univali/ps/ui/icones/Dark/grande/light-bulb.png">

  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/ax5ui/ax5ui-layout/master/dist/ax5layout.css?7544f5a6f789ebaf83e5f070a19a881725c16b6f">
  <link rel="stylesheet" type="text/css" href="/assets/editor/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/themes/default-dark/style.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/editor/res.css">
	<link rel="stylesheet" type="text/css" href="/assets/editor/portugol.css">
	<link rel="stylesheet" type="text/css" href="/assets/editor/ide.css">
</head>
<body>
	<div class="visible-xs hidden-md hidden-lg alert-res">
		<div class="alert-res-content">
			<span>Esta resolução é muito pequena para usar o Portugol Webstudio.</span>
		</div>

		<div class="alert-res-close"><a href="#">Entendo as consequências e quero usar mesmo assim!</a></div>
	</div>

	<div id="ide" class="hidden-xs">
		<ul class="tabs">
			<li><a id="anchor-inicio" href="#tab-inicio">Portugol Webstudio <span class="portugol-icon"></span></a></li>
			<li><span class="action action-open"><span class="open-icon"></span></span></li>
			<li><span class="action action-add"><span class="add-icon"></span></span></li>
		</ul>

		<div class="tab" id="tab-inicio">
			<div class="tab-content">
				<div class="row" id="btl">
					<div class="col-xs-6 col-md-3 col-lg-3">
						<button class="action-add">
							<img src="https://raw.githubusercontent.com/UNIVALI-LITE/Portugol-Studio/master/src/br/univali/ps/ui/icones/Dark/grande/lite/programar.png" class="img-responsive">
							<span>Programar</span>
						</button>
					</div>
					<div class="hidden-xs visible-md visible-lg col-xs-0 col-md-3 col-lg-3">
						<button class="action-ajuda">
							<img src="https://raw.githubusercontent.com/UNIVALI-LITE/Portugol-Studio/master/src/br/univali/ps/ui/icones/Dark/grande/lite/ajuda.png" class="img-responsive">
							<span>Ajuda</span>
						</button>
					</div>
					<div class="col-xs-6 col-md-3 col-lg-3">
						<a href="https://www.youtube.com/user/portugolstudio" target="_blank" rel="nofollow">
							<img src="https://raw.githubusercontent.com/UNIVALI-LITE/Portugol-Studio/master/src/br/univali/ps/ui/icones/Dark/grande/lite/videoaulas.png" class="img-responsive">
							<span>Videoaulas</span>
						</a>
					</div>
					<div class="hidden-xs visible-md visible-lg col-xs-0 col-md-3 col-lg-3">
						<a href="javascript:alert('Não implementado.')">
							<img src="https://raw.githubusercontent.com/UNIVALI-LITE/Portugol-Studio/master/src/br/univali/ps/ui/icones/Dark/grande/lite/bibliotecas.png" class="img-responsive">
							<span>Bibliotecas</span>
						</a>
					</div>
				</div>

				<div class="row hidden-xs" id="exp">
					<div data-ax5layout="ax1" class="ax5layout" data-config="{layout:'dock-panel'}" id="ax1">
						<div data-dock-panel="{dock:'left',split:true,width:250,minWidth:200,maxWidth:400}" id="leftPanel">
							<div class="res-cat">
								<img src="https://raw.githubusercontent.com/UNIVALI-LITE/Portugol-Studio/master/src/br/univali/ps/ui/icones/Dark/pequeno/light_pix.png"> <span>Exemplos</span>
							</div>

							<div class="jstree"></div>
						</div>

						<div data-dock-panel="{dock:'center'}" id="exc">
							<div id="exc-content">
								<div class="row row-exemplo-desc">
									<div class="col-xs-9 col-md-9 col-lg-9">
										<div class="res-cat" id="exemplo-desc-holder">
											<span id="exemplo-desc">Selecione um exemplo ao lado para ver a descrição.</span>
										</div>
									</div>

									<div class="col-xs-3 col-md-3 col-lg-3">
										<a class="res-cat res-cat-link hide" id="exemplo-go" href="#"><span>Explorar Exemplo</span></a>
									</div>
								</div>

								<div class="row row-exemplo-editor hide">
									<pre id="exemplo-editor" class="input"></pre>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="hide" id="special"></div>

  <script type="text/javascript"> window.TextEncoder = window.TextDecoder = null; </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5core/master/dist/ax5core.min.js?e2df1421a819efa43b46c0cab92940ef4410776d"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5ui-layout/master/dist/ax5layout.min.js?7544f5a6f789ebaf83e5f070a19a881725c16b6f"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/blob-polyfill/1.0.20150320/Blob.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/inexorabletash/text-encoding/master/lib/encoding-indexes.js?192293ea17e775bdd6a66ab85db05f34c5104a34"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/inexorabletash/text-encoding/master/lib/encoding.js?b8503e781cfe62c80582ff36ae467435baa35ba1"></script>
  <script type="text/javascript" src="/assets/editor/mode-portugol.js"></script>
  <script type="text/javascript" src="/assets/editor/portugol.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/jstree.min.js"></script>
	<script type="text/javascript">if(window.location.pathname.length > 0){ base = window.location.pathname }else{ base = "/" } var d={baseUrl: base,isXs:false,exemplo:{nome:false,codigo:false},tabs:[],scrollDown:function(tid){var r=d.tabs[tid].output.session.getLength()-1;var c=d.tabs[tid].output.session.getLine(r).length;d.tabs[tid].output.gotoLine(r+1,c)}};</script>
	<script type="text/javascript" src="/assets/editor/ide.js"></script>
</body>
</html>
