
	<script type="text/javascript"> window.TextEncoder = window.TextDecoder = null; </script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ace.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5core/master/dist/ax5core.min.js?33fc99de37d9184e6807b3f62cb3a64e9150975a"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5ui-layout/master/dist/ax5layout.min.js?d4a022954ed5f99c94b83e7ebbd6ec6755ea4248"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/blob-polyfill/1.0.20150320/Blob.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/inexorabletash/text-encoding/master/lib/encoding-indexes.js?b98ab30bf27aef214ff19d0badfbf6f6323a1513"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/inexorabletash/text-encoding/master/lib/encoding.js?b98ab30bf27aef214ff19d0badfbf6f6323a1513"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.4/jstree.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
	<script type="text/javascript">var d={baseUrl:((window.location.pathname.length<2)?"/":window.location.pathname+"/"),exemplo:{nome:false,codigo:false},tabs:[]};</script>
	<script type="text/javascript" src="/assets/editor/mode-portugol.js"></script>
	<script type="text/javascript" src="/assets/editor/portugol.js"></script>
	{% if ide %}
	<script type="text/javascript" src="/assets/editor/ide.js"></script>
	{% elseif tab %}
	<script type="text/javascript" src="/assets/editor/editor.js"></script>
	{% endif %}
</body>
</html>
