:host {
  --mat-dialog-actions-alignment: end;
  display: block;
  min-width: min(80vw, 300px);
  max-width: 420px;
}

em {
  word-break: break-all;
  text-overflow: ellipsis;
}

.danger-alert {
  color: #f1433c;
}
