<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Portugol Webstudio</title>
  <link rel="shortcut icon" href="https://raw.githubusercontent.com/UNIVALI-LITE/Portugol-Studio/master/ide/src/main/resources/br/univali/ps/ui/icones/Dark/grande/light-bulb.png">
  <link rel="icon" href="https://raw.githubusercontent.com/UNIVALI-LITE/Portugol-Studio/master/ide/src/main/resources/br/univali/ps/ui/icones/Dark/grande/light-bulb.png">

  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ax5ui-layout@1.4.126/dist/ax5layout.css" integrity="sha256-QRw3D/1gkEfevaGf2/ELaIfuko9MqVQqAN3gqORuiYc=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jstree@3.3.10/dist/themes/default-dark/style.min.css" integrity="sha256-2hTiI2p4bt1TnBnDtbTJ+UMNBVdzmtd5Td8+65lR1t0=" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/assets/editor/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/editor/res.css">
  <link rel="stylesheet" type="text/css" href="/assets/editor/portugol.css">
  <link rel="stylesheet" type="text/css" href="/assets/editor/ide.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3XXKFNMTW1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-3XXKFNMTW1');
  </script>
</head>
<body>
