<!DOCTYPE HTML>
<html>
<head>
    <title>Portugol SocketIO Test</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/con.js"></script>
</head>
<body>
    <h1>Teste de Portugol</h1>
    <p>Modo Async: <b>{{ async_mode }}</b></p>
    <p>Média de latência: <b><span id="ping-pong"></span>ms</b></p>
    <h2>Enviar:</h2>
    <form id="emit" method="POST" action='#'>
        <textarea name="emit_data" id="emit_data" placeholder="Código em Portugol" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Enviar código">
    </form>
    <br><br><br>

    <br><br>
    <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Desconectar">
    </form>
    <h2>Respostas:</h2>
    <div id="log"></div>
    <form id="input_response" method="POST" action='#' style="display: none;">
      <input type="text" name="in-resp" id="in-resp" placeholder="Resposta do input: ">
      <input type="submit" value="Enviar resposta">
    </form>
</body>
</html>
