:host {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
  padding: 2rem;
}

.logo {
  max-width: 20rem;
  margin-bottom: 2rem;
}

nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    max-width: 50vw;
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
  }

  button,
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.3rem;
    background-color: var(--pws-body-bg);
    appearance: none;
    border: none;
    border-radius: 0.25rem;
    color: var(--pws-body-color);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
    font-size: 0.85rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    height: 100%;
    text-align: center;

    &:hover {
      background-color: var(--pws-tab-bg-hover);
      color: var(--pws-tab-color-hover);
    }

    > svg-icon,
    > img {
      margin-bottom: 0.85rem;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

section {
  max-width: 600px;
  margin: 2rem;
  letter-spacing: 0.25px;
  padding: 0.25rem 1rem;
  font-family: "Lato", sans-serif;
  font-size: 0.95rem;
  color: #fff;
  border: 1px solid rgba(30, 30, 30, 0.1);
  border-radius: 0.75rem;
  box-shadow:
    0.3px 0.5px 0.7px hsl(200deg 54% 2% / 0.36),
    0.8px 1.6px 2px -0.8px hsl(200deg 54% 2% / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(200deg 54% 2% / 0.36),
    5px 10px 12.6px -2.5px hsl(200deg 54% 2% / 0.36);

  h3,
  h4,
  p,
  li {
    margin: 0.5rem 0;
    line-height: 1.5;
    list-style-type: square;

    svg-icon,
    svg {
      width: 1.25rem;
      height: 1.25rem;
    }

    svg {
      vertical-align: top;
    }
  }

  h4 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
  }

  ul {
    margin: 0;
    padding-left: 1.25rem;
  }

  a {
    text-decoration: underline;
    color: #fafafa;
  }
}

code {
  font-family: "Lato", sans-serif;
  font-size: 0.85rem;
  border-radius: 0.25rem;
  background-color: #2d2d2d;
  color: #fff;
  padding: 0.25rem 0.5rem;
  margin: 0 0.25rem;
}

section.alert {
  background: #8c2626;
}

section.info {
  background-color: #2559b3;
}

footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  summary {
    font-size: 0.75rem;
    color: var(--pws-body-color);

    span {
      font-family: monospace;
      color: var(--pws-text-muted);
      text-transform: uppercase;
    }
  }
}

.with-badge-new {
  position: relative;

  ::after {
    content: "NOVIDADE";
    position: absolute;
    top: 0;
    right: 0;
    background-color:var(--pws-color-primary);
    color: var(--pws-body-bg);
    font-size: 0.65rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0 0 0 0.25rem;
  }
}
